/* app */

.app{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

@media screen and (min-width:768px) {
   .app{
    padding: 0 ;    
   } 
}

/* form  */

.form{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    background-color: var(--form-color);
    box-shadow: 0px 5px 15px var(--box-shadow-color);
    border-radius: 6px;
}

/* header */

.form__header{
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 6px 6px 0 0;
    padding: 10px 0;
}

.form__header h2{
    color: var(--secondary-color);
}

/* body */

.form__body{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.form__control{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

@media screen and (min-width:768px) {
    .form{
        width: 40rem;
        margin-bottom: 40px;
    }

    .form__body{
        padding: 20px;
    }
}


@media screen and (min-width:1024px) {
    .form{
        width: 50rem;
        padding: 0;
        margin-bottom: 40px;
    }

    .form__control{
        gap: 15px;
    }
}

/* inputs */

.form__input{
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 4px ;
    padding: 15px 10px;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in;
}

.form__input::placeholder{
    color: var(--primary-color);
    opacity: 0.5;
}

.form__input:focus{
    border: 1px solid var(--primary-color);
}

/* title */

.form__title{
    font-weight: bold;
    font-size:1.6rem;
    color: var(--primary-color);
}

@media screen and (min-width:768px) {
    .form__title{
        font-size:1.8rem;
    }
}

@media screen and (min-width:1024px) {
    .form__title{
        font-size:2rem;
    }
}

/* radio */

.form__radio{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.form__radio__control {
    display: flex;
    align-items: center;
}

.form__radio__control label {
    cursor: pointer;
    margin: 3px 0 0 5px;
}

.form__radio__control input {
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: var(--primary-color);
}

/* select */

.form__select{
    width: 100%;
    font-size: 1.6rem;
    padding: 15px 10px;
    outline: none;
    border: none;
    border-radius: 4px ;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 10px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-color: var(--secondary-color);
}

/* btn */

.btn{
    font-size: 1.6rem !important;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius:6px;
    padding: 15px 0;
    font-size: 1.4rem;
    transition: all 0.2s ease-in;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.btn:disabled{
    opacity: 0.7;
}